<section id="login_view">
	<div class="container" ng-controller="RegisterCtrl">
		<div ng-if="!complete" class="text-center">
			<h2>Welcome to FBProto Registration</h2>
			<div class="col-md-12">
				<!-- Register -->
				<form role="form" class="form-horizontal" ng-if="authenticated == false" name="registerForm" ng-submit="register(registerForm)" novalidate autocomplete="off">

					<div class="form-group" ng-class="{ 'has-error' : registerForm.fname.$invalid && !registerForm.fname.$pristine}">
						<label for="idFirstname" class="col-sm-2 control-label">First Name</label>
						<div class="col-sm-10">
							<input name="fname" id="idFirstname" class="form-control" type="text" ng-model="model.first_name" placeholder="First name" required />
						</div>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : registerForm.lname.$invalid && !registerForm.lname.$pristine}">
						<label for="idLastname" class="col-sm-2 control-label">Last Name</label>
						<div class="col-sm-10">
							<input name="lname" id="idLastname" class="form-control" type="text" ng-model="model.last_name" placeholder="Last name" required />
						</div>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : registerForm.reg_email.$invalid && !registerForm.reg_email.$pristine}">
						<label for="idEmail" class="col-sm-2 control-label">Email ID</label>
						<div class="col-sm-10">
							<input name="reg_email" id="idEmail" class="form-control" type="email" ng-model="model.email" placeholder="Email" ng-pattern="/^\w+([\.]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$/" required />
							<p class="help-block" ng-show="registerForm.reg_email.$error.required && registerForm.reg_email.$dirty">Please enter your email address.</p>
							<p class="help-block" ng-show="registerForm.reg_email.$error.email  && registerForm.reg_email.$dirty && registerForm.reg_email.$error.pattern">Please enter valid email address</p>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-6" ng-class="{ 'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine}">
							<label for="idPassword" class="col-sm-4 control-label">Password</label>
							<div class="col-sm-8">
								<input name="password" id="idPassword" class="form-control" type="password" ng-model="model.password" placeholder="Password" required ng-minlength="6" />
							</div>
						</div>

						<div class="col-md-6" ng-class="{ 'has-error' : registerForm.password_c.$invalid && !registerForm.password_c.$pristine}">
							<label for="idConfirmPassword" class="col-sm-4 control-label">Confirm Password</label>
							<div class="col-sm-8">
								<input name="password_c" id="idConfirmPassword" class="form-control" type="password" ng-model="conpassword" placeholder="Confirm Password" required nx-equal="model.password" />
								<p class="help-block" ng-show="registerForm.password_c.$error.required && registerForm.password_c.$dirty">Please confirm your password.</p>
								<p class="help-block" ng-show="!registerForm.password_c.$error.required && registerForm.password_c.$error.nxEqual && registerForm.password_c.$dirty">Password doesn't match.</p>
							</div>
						</div>
					</div>
					<div class="col-md-12"><p ng-repeat="error in errors" class="text-danger">{$ error $}</p></div>
					<div class="form-group">
						<div class="col-md-6">
							<button ng-hide="authenticated" type="submit" class="btn btn-primary cf-btn-small" ng-disabled="registerForm.$invalid">Register</button>
						</div>
						<div class="col-md-6">
							<a ui-sref="login" class="btn btn-primary">Login</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>